@page
@model WebApplication.Pages.Suppliers.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_StaffLayout";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suplier[0].SuplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suplier[0].SuplierPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suplier[0].TaxCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suplier[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Suplier)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SuplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuplierPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxCode)
                </td>
                @{
                    if (item.Status == 0)
                    {
                        <td>Normal</td>
                    }
                    else
                    {
                        <td>Is Deleted</td>
                    }
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.SuplierId">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.SuplierId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
