@page
@model WebApplication.Pages.AdminPages.MainPageModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Main page";
}
<h1>Admin Page</h1>
<h4>Welcome,  @Model.CurUser.FullName</h4>
<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<form method="get">
    <input type="text" name="searchString" />
    <button type="submit">Search</button>
</form>
<div class="table-responsive">
<table class="table">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].RoleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                @if(item.RoleId == 0)
                {
                 <td class="row">
                     <a asp-page="./Edit" asp-route-id="@item.UserId" class="btn btn-primary">Edit</a> |
                     <a asp-page="./Details" asp-route-id="@item.UserId" class="btn btn-warning">Details</a> |
                </td>
                }
                else if (item.RoleId == 1)
                {
                   <td class="row">
                       <a asp-page="./Edit" asp-route-id="@item.UserId" class="btn btn-primary">Edit</a> |
                       <a asp-page="./Details" asp-route-id="@item.UserId" class="btn btn-warning">Details</a>
                       <a asp-page="./Delete" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>
                   </td>
                }
           </tr>     
        }
    </tbody>
</table>
    <paging class="pagination" total-records="@Model.totalUser" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>
</div>
