@page
@model WebApplication.Pages.Products.StatisticModel

@{
    ViewData["Title"] = "Products Statistic";
    Layout = "_StaffLayout";
}

<h1>Products Statistic</h1>

<form method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Consignments</label>
        <div class="col-sm-10">
            <select name="consignmentId" class="form-control" asp-items="@Model.Consignments">
                <option value="-1">All Consignments</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ConsignmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ImportPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Unit)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsignmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="~/images/@item.Image" style="width:75px; height:75px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit) 
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.PageIndex == 1)
                {
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="?PageIndex=@(Model.PageIndex - 1)">Previous</a></li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.PageIndex)
                    {
                        <li class="page-item active"><a class="page-link">@i</a></li>
                    }
                    else
                    {
                <li class="page-item"><a class="page-link" href="?PageIndex=@i">@i</a></li>
                    }
                }

                @if (Model.PageIndex == Model.TotalPages)
                {
                            <li class="page-item disabled"><a class="page-link">Next</a></li>
                }
                else
                {
                            <li class="page-item"><a class="page-link" href="?PageIndex=@(Model.PageIndex + 1)">Next</a></li>
                }
                </ul>
        </nav>
