@page
@model WebApplication.Pages.StaffPages.MainPageModel
@{
    Layout = "_StaffLayout";
    ViewData["Title"] = "Main page";
    var error = Model.Error;
}


@{
    if (error != null)
    {
        <h2 class="text-danger">Login before do anything !!!</h2>
        <a href="/">Click to login</a>
    }
    else
    {
        <h1>Staff Page</h1>

        <p>
            <a asp-page="Create">Create New</a>
        </p>
        <form method="post" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" asp-for=@Model.searchString placeholder="Search...">
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].ImportPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].SellingPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].TotalQuantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product[0].Category)
                    </th>
                    <th>Action</th>
                    <th>Add to Invoice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Product)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <img src="~/images/@item.Image" style="width:75px; height:75px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImportPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellingPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                            
                            <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-page="./CreateInvoiceInput" asp-page-handler="AddInvoiceInput" asp-route-ProductId="@item.ProductId">Invoice Input</a> 
                            <a class="btn btn-info" asp-page="./CreateInvoiceOutput" asp-page-handler="AddInvoiceOutput" asp-route-ProductId="@item.ProductId">Invoice Output</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.PageIndex == 1)
                {
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="?PageIndex=@(Model.PageIndex - 1)@(Model.searchString != null ? "&searchString=" + Model.searchString : "")">Previous</a></li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.PageIndex)
                    {
                        <li class="page-item active"><a class="page-link">@i</a></li>
                    }
                    else
                    {
                <li class="page-item"><a class="page-link" href="?PageIndex=@i@(Model.searchString != null ? "&searchString=" + Model.searchString : "")">@i</a></li>
                    }
                }

                @if (Model.PageIndex == Model.TotalPages)
                {
                            <li class="page-item disabled"><a class="page-link">Next</a></li>
                }
                else
                {
                            <li class="page-item"><a class="page-link" href="?PageIndex=@(Model.PageIndex + 1)@(Model.searchString != null ? "&searchString=" + Model.searchString : "")">Next</a></li>
                }
                </ul>
        </nav>

    }
}