@page
@model WebApplication.Pages.StaffPages.ReportInvoiceHistoryModel

@{
    ViewData["Title"] = "ReportInvoiceHistory";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
    int count = 1;
}

<h1>Report Invoice History</h1>

<table class="table">
                    <thead>
                        <tr>
                            <th>
                                ConsID
                            </th>        
                            <th>
                                ConsDetailID
                            </th>
                            <th>
                                ProductName
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var items in Model.ConsignmentDetails)
                    {   
                        <tbody>
                            <th>@items.Key</th>
                            @foreach (var item in items) {
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConsignmentDetailId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                </tr>
                        }
                            </tbody>
    
                    }
                </table>
@{/*
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceInput[0].InputDate)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.InvoiceInput[0].Suplier)
            </th>
            <th>
                ConsignmentID
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceInput[0].Amount)
            </th>
        </tr>
    </thead>
    <tbody>

@{/**
@foreach (var item in Model.InvoiceInput) {
        <tr>
            <td>@(count++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.InputDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suplier.SuplierName)
            </td>
            <th>       
                @Html.DisplayFor(modelItem => item.InvoiceInputDetails)         
            </th>
            <td>

                <table>
                @foreach(var i in @item.InvoiceInputDetails){
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>    
                                <th width="150px">Import Price</th>
                                <th>Quantity</th>
                            </tr>                  
                        </thead>
                        
                    <tbody>
                            @foreach(var a in Model.ProductHasConsignment)
                            {
                                <tr>
                                    <td></td>
                                    <td>@a.ProductName</td>
                                    <td >@a.ImportPrice</td>
                                    <td>@a.ConsignmentDetails</td>
                                </tr>
                                
                            }                       
                    </tbody>                  
                 }
                 </table>
            </td>
            <th style="color: red">
                @Html.DisplayFor(modelItem => item.Amount)
            </th>
        </tr>
}

    </tbody>
</table>
*/} 

